.DS_Store
.vscode
.pytest_cache
.rsync-exclude
.staging
__pycache__
tmp*.py
dist.sh
*.backup

Release/*.ttf
Release/webfonts
Release/test*
Release/masters
Release/instances
Release/webfonts

Bugs/*

Tests/Proofs/*
Tests/Proofs-compare/*
Tests/*.log
Tests/test_str*

ref*/*

tmp/*

/build/
/venv/

*.log
*.bat
*.sh
