.DS_Store
.vscode
.pytest_cache
.rsync-exclude
.staging
__pycache__
tmp*.py
dist.sh
*.backup

Release/

Bugs/*

Tests/Proofs/*
Tests/Proofs-compare/*
Tests/*.log
Tests/test_str*

ref*/*

tmp/*

/build/
/venv/
ref/

*.log
*.bat
*.sh
